extends layout

block content
  div(id="myTabContent" class="tab-content")
    
    div(class="tab-pane fade fade active in" id="apitype")
      div(class="container")
        h1 TEMPORAL


        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/getDatatemp") localhost:3000/getDatatemp


        div(class="panel panel-success")
          div(class="panel-heading")
            h3(class="panel-title") POST
          div(class="panel-body") 
            a(href="localhost:3000/crearModelo") localhost:3000/crearModelo


        div(class="panel panel-success")
          div(class="panel-heading")
            h3(class="panel-title") POST
          div(class="panel-body") 
            a(href="localhost:3000/insertData") localhost:3000/insertData


        div(class="panel panel-danger")
          div(class="panel-heading")
            h3(class="panel-title") DELETE
          div(class="panel-body") 
            a(href="localhost:3000/deleteTable") localhost:3000/deleteTable


        div(class="col-md-12")
          div(class="card")
            div(class="containerCard")
              h4
                b Resultado
              div
                h3=mensaje




    div(class="tab-pane fade" id="apiconsulta")
      div(class="container")
        h1 CONSULTAS

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/consulta1/") Mostrar consulta 1

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/consulta2/") Mostrar consulta 2


        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/consulta3/") Mostrar consulta 3

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/consulta4/") Mostrar consulta 4


        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/consulta5/") Mostrar consulta 5

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/consulta6/") Mostrar consulta 6

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/consulta7/") Mostrar consulta 7


        div(class="panel panel-success")
          div(class="panel-heading")
            h3(class="panel-title") POST
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/CONSULTAS/") localhost:3000/api/ws/mc/CONSULTAS/

        div(class="panel panel-danger")
          div(class="panel-heading")
            h3(class="panel-title") DELETE
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/CONSULTAS/:idCONSULTAS") localhost:3000/api/ws/mc/CONSULTAS/:idCONSULTAS

        div(class="panel panel-warning")
          div(class="panel-heading")
            h3(class="panel-title") PUT
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/CONSULTAS/:idCONSULTAS") localhost:3000/api/ws/mc/CONSULTAS/:idCONSULTAS

    div(class="tab-pane fade" id="apiconsultatype")
      div(class="container")
        h1 CONSULTASType

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/CONSULTAStype/") localhost:3000/api/ws/mc/CONSULTAStype/

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/CONSULTAStype/:idCONSULTASType") localhost:3000/api/ws/mc/CONSULTAStype/:idCONSULTASType

        div(class="panel panel-success")
          div(class="panel-heading")
            h3(class="panel-title") POST
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/CONSULTAStype/") localhost:3000/api/ws/mc/CONSULTAStype/

        div(class="panel panel-danger")
          div(class="panel-heading")
            h3(class="panel-title") DELETE
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/CONSULTAStype/:idCONSULTASType") localhost:3000/api/ws/mc/CONSULTAStype/:idCONSULTASType

        div(class="panel panel-warning")
          div(class="panel-heading")
            h3(class="panel-title") PUT
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/CONSULTAStype/:idCONSULTASType") localhost:3000/api/ws/mc/CONSULTAStype/:idCONSULTASType

    div(class="tab-pane fade" id="apicategory")
      div(class="container")
        h1 Category

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/category/") localhost:3000/api/ws/mc/category/

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/category/:idCategory") localhost:3000/api/ws/mc/category/:idCategory

        div(class="panel panel-success")
          div(class="panel-heading")
            h3(class="panel-title") POST
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/category/") localhost:3000/api/ws/mc/category/

        div(class="panel panel-danger")
          div(class="panel-heading")
            h3(class="panel-title") DELETE
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/category/:idCategory") localhost:3000/api/ws/mc/category/:idCategory

        div(class="panel panel-warning")
          div(class="panel-heading")
            h3(class="panel-title") PUT
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/category/:idCategory") localhost:3000/api/ws/mc/category/:idCategory
        
    div(class="tab-pane fade" id="apicategoryCONSULTAS")
      div(class="container")
        h1 CategoryCONSULTAS

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/categoryCONSULTAS/") localhost:3000/api/ws/mc/categoryCONSULTAS/

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/categoryCONSULTAS/:idCategoryCONSULTAS") localhost:3000/api/ws/mc/categoryCONSULTAS/:idCategoryCONSULTAS

        div(class="panel panel-success")
          div(class="panel-heading")
            h3(class="panel-title") POST
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/categoryCONSULTAS/") localhost:3000/api/ws/mc/categoryCONSULTAS/

        div(class="panel panel-danger")
          div(class="panel-heading")
            h3(class="panel-title") DELETE
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/categoryCONSULTAS/:idCategoryCONSULTAS") localhost:3000/api/ws/mc/categoryCONSULTAS/:idCategoryCONSULTAS

        div(class="panel panel-warning")
          div(class="panel-heading")
            h3(class="panel-title") PUT
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/categoryCONSULTAS/:idCategoryCONSULTAS") localhost:3000/api/ws/mc/categoryCONSULTAS/:idCategoryCONSULTAS

    div(class="tab-pane fade" id="apiproduct")
      div(class="container")
        h1 Product

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/product/") localhost:3000/api/ws/mc/product/

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/product/:idProduct") localhost:3000/api/ws/mc/product/:idProduct

        div(class="panel panel-success")
          div(class="panel-heading")
            h3(class="panel-title") POST
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/product/") localhost:3000/api/ws/mc/product/

        div(class="panel panel-danger")
          div(class="panel-heading")
            h3(class="panel-title") DELETE
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/product/:idProduct") localhost:3000/api/ws/mc/product/:idProduct

        div(class="panel panel-warning")
          div(class="panel-heading")
            h3(class="panel-title") PUT
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/product/:idProduct") localhost:3000/api/ws/mc/product/:idProduct
